<form method="post" action="{{ path('app_habitacion_delete', {'id': habitacion.id}) }}" onsubmit="return confirm('Deseas eliminar esta habitación?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ habitacion.id) }}">
    <button class="btn boton-eliminar">Eliminar</button>
</form>
