{% extends 'base.html.twig' %}

{% block title %}Edit Habitacion{% endblock %}

{% block body %}
    <h1>Edit Habitacion</h1>

    {{ include('habitacion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_habitacion_index') }}">back to list</a>

    {{ include('habitacion/_delete_form.html.twig') }}
{% endblock %}
