{% extends 'base.html.twig' %}

{% block title %}Nueva Habitacion{% endblock %}

{% block body %}
    <h1>Nueva Habitacion</h1>

    {{ include('habitacion/_form.html.twig') }}

    <a href="{{ path('app_habitacion_index') }}">Volver a la lista</a>
{% endblock %}
