/* ------------------------------ GENERAL  ffbf3c ------------------------------ */

/* ------------------------------LOGIN------------------------------ */

/* ------------------------------PAGINAS------------------------------ */
body {
  background-color: #3c3c3b;
}
.navbar {
  background-color: #3c3c3b; /* Fondo de la barra de navegación */
  margin-top: 20px;
}

.navbar a {
  color: #ffbf3c; /* Color de letra para los enlaces de la barra de navegación */
}
.nav-item {
  margin-right: 20px; /* Margen derecho entre elementos de la lista */
}
.nav-item:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento */
}

.navbar a.reservar {
  background-color: #ffbf3c; /* Fondo del enlace "Reservar" */
  color: #3c3c3b; /* Color de letra para el enlace "Reservar" */
  /* Otros estilos que desees aplicar */
}
.nav-link:hover {
  color: #ffffff; /* Cambia el color al pasar el mouse sobre el enlace */
}

.container-logo {
  margin-top: 40px; /* Puedes ajustar el valor según tus necesidades */
}

/* ------------------------------carrousel------------------------------ */

.carousel-container {
  position: relative;
}

.form-overlay {
  color: #ffbf3c;
  text-align: center; /* Centra el contenido horizontalmente */
  max-width: 800px; /* Limita el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 20px; /* Añade un espacio alrededor del contenido */
  z-index: 1000; /* Asegúrate de que el z-index sea mayor que el del carrusel */
}

/* ------------------------------Boton------------------------------ */

