{% extends 'base.html.twig' %}

{% block title %}Editar Actividades{% endblock %}

{% block body %}
    <div class="container">
        <!-- Título de la página -->
        <h1 class="titulo text-center mt-4">Editar Actividades</h1>

     <!-- Formulario de Edición -->
        <div class="formulario mt-3 text-center">
            {{ include('actividades/_form.html.twig', {'button_label': 'Actualizar'}) }}

     </div>

        <!-- Botones de Navegación y Eliminación -->
        <div class="d-flex justify-content-between mt-4">
            
            <div class="text-center">
                <a href="{{ path('app_actividades_index') }}" class="btn boton-mostrar">Volver a la lista</a>

            </div>

            <div class="text-center">

                {{ include('actividades/_delete_form.html.twig') }}
            </div>
        </div>
    </div>    
{% endblock %}
