{% extends 'base.html.twig' %}

{% block title %}Nueva Actividad{% endblock %}

{% block body %}
    <h1>Nueva Actividad</h1>

    {{ include('actividades/_form.html.twig') }}

    <a href="{{ path('app_actividades_index') }}">Volver a la lista</a>
{% endblock %}
