{% extends 'base.html.twig' %}

{% block title %}Nueva Actividad{% endblock %}

{% block body %}
    <div class="container">
        <!-- Título de la página -->
        <h1 class="titulo text-center mt-4">Nueva Actividad</h1>

        <!-- Formulario de Creación -->
            <div class="formulario mt-3 text-center">
                {{ include('actividades/_form.html.twig') }}

            </div>

        <!-- Botón de Volver a la lista -->
        <div class="text-center mt-4">
            <a href="{{ path('app_actividades_index') }}">Volver a la lista</a>
        </div>
    </div>
{% endblock %}
