{% extends 'base.html.twig' %}

{% block title %}Reservas Actividades {% endblock %}

{% block body %}
    <div class="container container-logo">
        <div class="text-center mt-3">
            <a href="{{ path('app_home') }}" class="navbar-brand">
                <img src="{{ asset('recursos/img/AMA-LOGO-RESORT.png') }}" alt="Logo de Mi Sitio" width="70px">
            </a>
        </div>
    </div>

    <div class="container">
        <!-- Título de la página -->
        <h1 class="titulo text-center mt-4">RESERVAS</h1>

        <div class="container mt-4">
            
                    <table class="table table-striped">
                        <thead class="text-center">
                            <tr>
                                <th>Nombre</th>

                            </tr>
                        </thead>
                        <tbody class="text-center">
                                                                
                                {% for reserva in reservas %}
                                    <tr>
                                    {% for key, value in reserva %}
                                        <td> {{ value }}</td>
                                    {% endfor %}
                                    </tr>
                                {% endfor %}
                        </tbody>
                    </table>

        </div>                                                    
    </div>


    <div class="text-center mt-4">
        <a href="{{ path('app_home') }}" class="btn boton-nuevo">Volver a la página principal</a>
    </div>
{% endblock %}
